.frameChild {
  align-self: stretch;
  flex: 1;
  border-radius: 15px;
  background-color: #e6e1e1;
  overflow: hidden;
}
.frameDiv,
.hoursOfBirdsSingingInTheWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.hoursOfBirdsSingingInTheWrapper {
  flex: 1;
  flex-shrink: 0;
  align-items: center;
}
.frameDiv {
  align-items: flex-start;
  padding: 10px;
}
.frameDiv,
.frameWrapper {
  align-self: stretch;
}
.frameContainer,
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  align-self: stretch;
  height: 565px;
  padding: 0 17px;
  box-sizing: border-box;
  gap: 28px;
}
.frameGroup {
  flex: 1;
  gap: 27px;
}
.frameParent1 {
  width: 494px;
  flex-direction: column;
  padding: 0 23px;
  box-sizing: border-box;
  gap: 9px;
  margin-left: -3px;
}
.desktop,
.frameParent,
.frameParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
}
.desktop {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 876px;
  flex-direction: column;
  gap: 27px;
  text-align: left;
  font-size: 18px;
  color: #090b0d;
  font-family: Inter;
}
@media screen and (max-width: 1377px) {
  .desktop {
    align-items: flex-end;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .frameGroup {
    flex: unset;
    align-self: stretch;
  }
  .frameParent1 {
    display: flex;
    flex-direction: column;
  }
  .frameParent {
    flex: 1;
    flex-direction: column;
  }
  .desktop {
    width: auto;
    align-self: unset;
    height: auto;
  }
}
